version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: node:alpine
    steps:
      - run:
        command: echo Hello World
  test:
    docker:
      - image: "circleci/openjdk:8-jdk-browsers"
    steps:
      - run:
          name: get git
          command: sudo apt-get update
                   sudo apt-get --assume-yes install git      
      - run:
          name: clone repo again
          command: git clone https://github.com/aswinin18/HelloTest.git
      - run:
          name: cd & pwd
          command: cd /home/circleci/project/HelloTest && pwd 
      - run:
          name: show files again
          command: cd /home/circleci/project/HelloTest && ls 
      - run: chmod 777 /home/circleci/project/HelloTest/chromedriver
      - run:
          name: maven image
          command: cd /home/circleci/project/HelloTest && mvn clean test  
      - store_artifacts:
          path: /home/circleci/project/HelloTest/test-output/emailable-report.html
      # Upload test results
      - store_test_results:
          path: /home/circleci/project/HelloTest/test-output
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      #- test2:
        #  requires:
        #    - test1
          filters:
            branches:
              only: master		  