version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: node:alpine
    steps:
      - type: shell
        shell: /bin/sh
        pwd: /
        command: apk -U add git openssh
      - type: checkout
      - type: shell
        shell: /bin/sh
        command: return 0
  test:
    docker:
      - image: "selenium/standalone-chrome:3.1.0"
      - image: "maven:4.0.0-alpine"
    steps:
      - checkout
      - run:
          name: get git
          command: sudo apt-get update
      - run:
          name: install git
          command: sudo apt-get --assume-yes install git
      - run:
          name: clone repo
          command: git clone https://github.com/aswinin18/HelloTest.git ~/RepoLocation
      - run:
          name: execute testng
          command: pwd
      - run:
          name: show files
          command: ls    
      - run:
          name: maven image
          command: mvn clean test
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
          background: true
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: master