version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/node:8
    working_directory: ~/build
    steps:
      - checkout
      # ... steps for building/testing app ...
      - setup_remote_docker:
          docker_layer_caching: false
      - run: |
            docker build -t docker.livereachmedia.com/ad-manager-ng:v-$CIRCLE_SHA1 .
      - deploy:
          command: |
            IMAGE_TAG=v-${CIRCLE_SHA1}
            APP_ID=$(cat marathon.json | jq -r '.id')
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin docker.livereachmedia.com
            docker push docker.livereachmedia.com/ad-manager-ng:v-$CIRCLE_SHA1
            cat marathon.json | jq '.container.docker.image = "docker.livereachmedia.com/ad-manager-ng:'"$IMAGE_TAG"'"' > /tmp/marathon.json
            curl -s -u "circleci:$MARATHON_PASS" -X PUT -H "Content-type: application/json" https://marathon.livereachmedia.com/v2/apps/$APP_ID?force=true -d"@/tmp/marathon.json" | jq           
  test:
    docker:
      - image: "circleci/openjdk:8-jdk-browsers"
    steps:
      - run:
          command: |
           sudo apt-get update
           sudo apt-get --assume-yes install git
           mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config 
           git clone git@github.com:ionosnetworks/Adx-Selenium.git
           chmod 777 /home/circleci/project/HelloTest/chromedriver
           cd /home/circleci/project/HelloTest && mvn clean test  
      - store_artifacts:
          path: /home/circleci/project/HelloTest/test-output/emailable-report.html
      # Upload test results
      - store_test_results:
          path: /home/circleci/project/HelloTest/test-output
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: master		  