version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/node:4.8.2 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" # run the `echo` command
  test:
    docker:
      - image: selenium/standalone-chrome:3.1.0
    steps:
      - checkout
      - clone https://github.com/aswinin18/HelloTest.git ~/RepoLocation
      - run: mkdir test-reports
      - run:
          name: clone repo
          command: git clone https://github.com/aswinin18/HelloTest.git ~/RepoLocation
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
          background: true
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: master