version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/node:8
    steps: 
      - run: echo Hello world       
  test:
    docker:
      - image: "circleci/openjdk:8-jdk-browsers"
    steps:
      - run:
          command: |
           sudo apt-get update
           sudo apt-get --assume-yes install git
           git clone https://ashwinionos:ashwini1805@github.com/ionosnetworks/Adx-Selenium.git
           chmod 777 /home/circleci/project/Adx-Selenium/chromedriver
           cd /home/circleci/project/Adx-Selenium && mvn clean test  
      - store_artifacts:
          path: /home/circleci/project/HelloTest/test-output/emailable-report.html
      # Upload test results
      - store_test_results:
          path: /home/circleci/project/HelloTest/test-output
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: master		  