version: 2
jobs:
  build:
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: node:alpine
    steps:
      - type: shell
        shell: /bin/sh
        pwd: /
        command: apk -U add git openssh
      - type: checkout
      - type: shell
        shell: /bin/sh
        command: return 0
  test1:
    docker:
      - image: "circleci/openjdk:8-jdk-browsers"
      steps:
      - checkout
      - run:
          name: get git
          command: sudo apt-get update
      - run:
          name: install git
          command: sudo apt-get --assume-yes install git
      - run:
          name: clone repo
          command: git clone https://github.com/aswinin18/HelloTest.git ~/RepoLocation
      - run:
          name: execute testng
          command: pwd
      - run:
          name: show files
          command: ls   
  test2:
    docker:          
      - image: "circleci/openjdk:8-jdk-browsers"  
      steps:
      -checkout
      - run:
          name: maven image
          command: mvn clean test
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test1:
          requires:
            - build
      - test2:
          requires:
            - test1
          filters:
            branches:
              only: master